<ion-header>
  
</ion-header>

<ion-content>
  <div id="container">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>Queens</ion-card-title>
      </ion-card-header>
      <img class="crop" src="https://i.imgur.com/g80TiCd.jpg"  />
      <ion-card-content>
        Queens is located to the southeast of the 
        city. An extension of the county of Queens, the neighborhood 
        stretches across the width of the island. In addition, 
        the second neighborhood in population of the city after 
        Brooklyn, 27% of the total.
      </ion-card-content>
    </ion-card>
    <ion-button [routerLink]= "['/list']" color="undefined" id="Button">list</ion-button>
  </div>
</ion-content>
