<ion-header>
  
</ion-header>

<ion-content>
  <div id="container">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>Harlem</ion-card-title>
      </ion-card-header>
      <img class="crop" src="https://i.imgur.com/l1rTDP4.jpg"/>
      <ion-card-content>
        Long known for its intimate jazz clubs, soul 
        food establishments, and African-American heritage, 
        Harlem attracts a large number of locals and visitors. 
        Trendy restaurants, chic clubs and hip bars bring 
        the city's nightlife to life.
      </ion-card-content>
    </ion-card>
    <ion-button [routerLink]= "['/list']" color="undefined" id="Button">list</ion-button>
  </div>
</ion-content>
