<ion-header>
  
</ion-header>

<ion-content>
  <div id="container">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>Manhattan</ion-card-title>
      </ion-card-header>
      <img src="https://i.imgur.com/z466QPJ.jpg" class="img1"/>
      <ion-card-content>
        It consists mainly of the island of Manhattan, 
        surrounded by the Hudson, East and Harlem rivers. 
        It is one of the most important cultural, financial 
        and commercial centers in the world.
      </ion-card-content>
    </ion-card>
    <ion-button [routerLink]= "['/list']" color="undefined" id="Button">list</ion-button>
  </div>
</ion-content>
