<ion-header>
  
</ion-header>

<ion-content>
  <div id="container">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>Brooklyn</ion-card-title>
      </ion-card-header>
      <img src="https://i.imgur.com/jvZQR69.jpg" class="img"/>
      <ion-card-content>
        Brooklyn, one of the 5 boroughs of New York City, is 
        located on the western tip of Long Island. The iconic 
        Brooklyn Bridge, built in 1883, connects it to Manhattan.
      </ion-card-content>
    </ion-card>
    <ion-button [routerLink]= "['/list']" color="undefined" id="Button">list</ion-button>
  </div>
</ion-content>
